*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav
{
    background-color: black;
    height: 50px;
    position: fixed;
   width: 100%;
}
li
{
    font-size: 20px;
    color: white;
    display: inline;
    padding-inline: 10px;
    ;
}
ul
{
    list-style: none;
    text-align: center;
    margin: 10px;
}
.heading
{
    padding: 50px;
    font-size: 3rem;
    width: 60%;
}
.subheading
{
    margin-top: 20px;
}
.explore
{
    margin-top: 20px;
    padding: 20px 30px;
}
.hero-right
{
    width: 30vw;
}
.heroimage{
    width: 30%;
    float: right;
}
footer
{
    height: 500vh;
}